Semyon



Drive
.
Folder Path
My Drive
Hackaton
NEW 
Folders and views
My DriveCollapsed
Shared with me
Google Photos
Recent
Starred
Trash
15 GB of 15 GB used
Upgrade storage
Name
Owner
Last modified
File size

style.css
Radek Kropka
12:48 pm
2 KB
Selected

main.js
Radek Kropka
12:48 pm
1 KB
Not selected

index.html
Radek Kropka
12:15 pm
991 bytes
Not selected

image_2.jpg
Radek Kropka
2:26 am
25 KB
Not selected

image_1.jpg
Radek Kropka
2:26 am
41 KB
Not selected

timer_small.gif
Radek Kropka
2:26 am
602 KB
Not selected

timer_large.gif
Radek Kropka
2:26 am
3 MB
Not selected

image_11.jpg
Radek Kropka
2:26 am
32 KB
Not selected

image_10.jpg
Radek Kropka
2:26 am
24 KB
Not selected

image_9.jpg
Radek Kropka
2:26 am
12 KB
Not selected

image_8.jpg
Radek Kropka
2:26 am
20 KB
Not selected

image_7.jpg
Radek Kropka
2:26 am
24 KB
Not selected

image_6.jpg
Radek Kropka
2:26 am
25 KB
Not selected

image_5.jpg
Radek Kropka
2:26 am
27 KB
Not selected

image_4.jpg
Radek Kropka
2:26 am
35 KB
Not selected

image_3.jpg
Radek Kropka
2:25 am
28 KB
Not selected
Style Sheet
style.css
Details
Activity
style.css
Sharing Info
R
S
General Info
Type
Style Sheet
Size
2 KB (1,869 bytes)
Storage used
0 bytesOwned by someone else
Location
Hackaton
Owner
Radek Kropka
Modified
12:48 pm by Radek Kropka
Created
12:48 pm
Description
Add a description
Download permissions
Viewers can download



/* Global Classes */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 	50px;
	margin: 100px;
	line-height: 	100px;
}


*, *:after, *:before { 
	-webkit-box-sizing: border-box; /* iOS <= 4 i Android <= 2.3 */ 
	-moz-box-sizing: border-box; /* Firefox */ 
	box-sizing: border-box; /* Chrome, Opera, Safari 5+ i IE 8+ */ 
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.container {
  display: block;
  text-align: center;

}

.confirmation,
.continue {
	display: block;
	text-align: center;
	background-color: #5EFF45;
	border-radius: 10px;
	width: 600px;
	height: 100px;
	width: 50%;
    margin: 10px auto;
}

.continue {
	cursor: pointer;
	background-color: #5FC4DD;
}

.continue:hover {
	background-color: #397483;
}

.product {
	width: 600px;
	height: 	600px;
	display: inline-block;
}

.product::before, 
.product::after {
	position: 	absolute	;
	content: 	"BRAND LOGO";
	background-color:#D3D3D3;
	width: 	inherit	;
	height: 	100px;
	top: 	0;
	display: 	block;	
	opacity: 	.5;
	top:100px;
}

.product::after {	
	content: attr(data-content) '';
	top:600px;

}

.product img {
	background-image: url('image_1.jpg');
	background-repeat: no-repeat;
	background-position: center; 
	height: 	100%;
    width: 100%;
    display:none;
    margin-left: auto;
  	margin-right: auto;
}

.product img.active{
      display:block;
  }

.timer {
	position: 	relative;	
	width: 360px;
	height: 600px;
	display: inline-block;
}

.timer img {	
	background-image: url('timer_large.jpg');
    width: 100%;

    position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -180px; /* -1 * image width / 2 */
  margin-top: -180px; /* -1 * image height / 2 */
}

.purchase {
	width: 600px;
	height: 	600px;
	display: block;
	width: 100%;
    margin: 0 auto;
}